# Temporary files
tmp
*.tsbuildinfo
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment and configuration
.env*
!.env.test
.env*.local
.vercel
.tool-versions

# Dependencies
/node_modules
/.puppeteer
/certificates
